<li class="nav-item menu-items">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Ana Sayfa</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Dashboard</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="AdminSiparis" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-home"></i>
        </span>
        <span class="menu-title">Siparişler</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="AdminMenu" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-home"></i>
        </span>
        <span class="menu-title">Menüler</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="AdminBurger" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-tooltip-text"></i>
        </span>
        <span class="menu-title">Burgerler</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="AdminIcecek" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-source-branch"></i>
        </span>
        <span class="menu-title">İçecekler</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="AdminAtistirmalik" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-school"></i>
        </span>
        <span class="menu-title">Atıştırmalıklar</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="AdminEkstraMalzeme" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-certificate"></i>
        </span>
        <span class="menu-title">Ekstra Malzemeler</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="AdminSos" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-file"></i>
        </span>
        <span class="menu-title">Soslar</span>
    </a>
</li>
